test/data/test_table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!-- AUTOGENERATED CODE - DO NOT EDIT! -->
<!-- ================================= -->

<xs:schema version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestTableXsdModel">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element type="SecondLevelTypeList" name="SecondLevelTypeList" minOccurs="0"/>
        <xs:element type="TopLevelTypeList" name="TopLevelTypeList" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

    <!-- ======================================================= -->
    <!--                   SecondLevelType keys                  -->
    <xs:key name="key_SecondLevelType">
      <xs:selector xpath="./SecondLevelTypeList/SecondLevelType"/>
      <xs:field xpath="key"/>
    </xs:key>
    <!-- ======================================================= -->

    <!-- ======================================================= -->
    <!--                   TopLevelType keyrefs                  -->
    <xs:keyref name="keyref_TopLevelType_field1" refer="key_SecondLevelType">
      <xs:selector xpath="./TopLevelTypeList/TopLevelType"/>
      <xs:field xpath="field1"/>
    </xs:keyref>
    <!-- ======================================================= -->

  </xs:element>

  <xs:complexType name="SecondLevelTypeList">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="SecondLevelType">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:string" name="field1" minOccurs="0"/>
            <xs:element type="xs:int" name="key" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TopLevelTypeList">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="TopLevelType">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:int" name="field1" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
