test/data/test_type_optional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!-- AUTOGENERATED CODE - DO NOT EDIT! -->
<!-- ================================= -->

<xs:schema version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestSimpleTypeModel">
    <xs:element type="TopLevelType" name="TopLevelType" minOccurs="1" maxOccurs="1"/>
  </xs:element>

  <xs:complexType name="TopLevelType">
    <xs:element name="field1" type="SecondLevelType" minOccurs="0" maxOccurs="1"/>
  </xs:complexType>
  <xs:complexType name="SecondLevelType">
    <xs:element name="field1" type="string" minOccurs="1" maxOccurs="1"/>
  </xs:complexType>
</xs:schema>
