sysl2/sysl/importer/tests-xsd/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!-- AUTOGENERATED CODE - DO NOT EDIT! -->
<!-- ================================= -->

<xs:schema version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TestTypeXsdModel">
        <xs:complexType>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element type="TopLevelType" name="TopLevelType"/>
                <xs:element type="SimpleType" name="simple"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ======================================================= -->
    <xs:complexType name="SecondLevelType">
        <xs:all>
            <xs:element type="xs:string" name="field1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TopLevelType">
        <xs:all>
            <xs:element type="SecondLevelType" name="field1" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="SimpleType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="2"/>
            <xs:maxInclusive value="18"/>
          <!--  <xs:pattern value="\d{1,2}"/> -->
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
